{% extends "_base.html" %}
{% block title %}Join Challenge{% endblock %}

{% block content %}
<div style="text-align:center;">
    <h2>Do you want to join the challenge?</h2>
    <form method="POST" action="{{ url_for('ask') }}">
        <button type="submit" name="answer" value="yes">YES</button>
        <button type="submit" name="answer" value="no">NO</button>
    </form>

    <form method="GET" action="{{ url_for('login') }}" style="margin-top:15px;">
        <button type="submit">Login</button>
    </form>
</div>
{% endblock %}
